@import "tailwindcss";

:root{
  --background:#050816;
  --foreground:#ffffff;
  --accent:#4F8CFF;
}

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  background:var(--background);
  color:var(--foreground);
  font-family:var(--font-inter);
  overflow-x:hidden;
}

h1,h2,h3,h4{
  font-family:var(--font-space);
}

button{
  cursor:pointer;
}